body {
  color: #50596c;
  font-size: 14px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
}

select {
  height: 26px;
}

.headline {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
}

#app {
  width: 80%;
  min-width: 960px;
  margin: 0 auto;
}

/* #app {
  font-family: "Helvetica Neue", 微软雅黑, Arial, sans-serif;
  font-size: 12px;
  color: #666;
} */
